__pycache__/
*.py[cod]
$py.class

.pytest_cache/
.coverage
.coverage.
htmlcov/

instance/
*.db
*.sqlite
*.sqlite3

.vscode/
.idea/

build/
dist/
*.egg-info/
*.eggs/

.venv/
venv/

discord-bot/user_map.json
